#contact-icons-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

#contact-icons-flex > li {
    list-style-type: none;
    margin: none;
    padding: none;
    width: 4rem;
}

#contact-icons-flex img {
    width: 100%;
}



