#contact-icons-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

#contact-icons-flex > li {
    list-style-type: none;
    margin: none;
    padding: none;
    width: fit-content;
}

#contact-icons-flex img {
    width: 2rem;
    margin-right: 0.4rem;
    align-content: start;
}

#contact-icons-flex a {
    text-decoration: none;
    : center;
}

#contact-icons-flex a:hover {
    cursor: pointer;
}

/* #email-address {
    display: flex;
    flex-direction: row;
} */

