/* Navigation Menu */
#header-for-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 1rem;
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav button {
    font-size: 3.5rem;
    display: block;
    background-color: inherit;
    color: #f48fb1;
    border: unset;
    margin-left: auto;
    padding: 0;
}

.header--options {
    translate: 100vw;

}
.header--close-nav {
    color: rgb(234, 71, 112);
}

.header--open-nav {
    visibility: collapse;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}


/* style navigation menu { */
nav a {
    font-size: 1.8rem;
    color: #f48fb1;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    text-decoration: none;

}

nav li {
    flex: 1;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    display: inline-block;
}

nav li:first-of-type {
    border-right: 1px solid white;
    border-left: none;
}

nav li:last-of-type {
    border-right: none;
    border-left: 1px solid white;
}

@media screen and (width > 414px) {

    #header-for-nav {
        border-bottom: 3px solid white;
        background-color: #121212;
        top: 0;
        left: 0;
        height: 3.5rem;
        width: 100vw;
        margin: 0;
        overflow: hidden;
        font-size: inherit;
        padding: 0;

    }

    .header--options {
        translate: 0;
    }

    .header--close-nav{
        display: none;
    }

    nav ul {
        flex-direction: row;
    }

    #contact-nav-menu {
        visibility: collapse;
        width: 0;
        height: 0;
    }


    nav button {
        display: none;
    }

    nav li:nth-of-type(2) {
        border-right: 1px solid white;
        border-left: none;
    }

}