/* #projects {
    margin-top: 3.5rem;
} */

#projects-scroller {
    max-height: 70vh;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0;
}

.projects-scroller-list {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;

}

.project-card {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    height: 80%;
    justify-content: center;
    flex: 1;
    border: 1px solid transparent;
    gap: 0.6rem;
}

.project-card:hover {
    border: 1px solid #f48fb1;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.project-card img {
    width: 25vw;
    margin-bottom: 0.2rem;
}

.project-card p {
    margin: 0.5rem;
    max-height: fit-content;
}


.tech-used {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.tech-used li {
    padding: 0.5rem;
    color: black;
    background-color: #eb95b1d9;
    border-radius: 0.5rem;
    flex: 1 1 fit-content;
    max-width: fit-content;
    max-height: 100%;

}