/* #projects {
    margin-top: 3.5rem;
} */

#projects-scroller {
    height: 70vh;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0;
}

.projects-scroller-list {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;


}

.project-card {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    max-height: 80%;
    justify-content: space-between;
}

.project-card:hover {
    border: 1px solid #f48fb1;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.project-card img {
    flex: 1 1 16rem;
}

.project-card p {
    flex: 1;
    margin: 0.5rem;
}

.project-card ul {
    flex: 2;
}

.tech-used {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.tech-used li {
    padding: 0.5rem;
    color: black;
    background-color: #eb95b1d9;
    border-radius: 0.5rem;
}

