#projects h2 {
    margin-block: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#projects-scroller {
    display: flex;
    flex-flow: row nowrap;
    /* overflow-y: hidden; */
    height: 80vh;
}

.projects-scroller-list {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.project-card {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}

.project-card:hover {
    border: 1px solid #f48fb1;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.project-card img {
    flex: 1 1 1
}

.project-card p {
    flex: 2;
}

.project-card ul {
    flex: 2;
}

.tech-used {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.tech-used li {
    padding: 0.5rem;
    color: black;
    background-color: #eb95b1d9;
    border-radius: 0.5rem;
}

#projects 