*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
Source - https://stackoverflow.com/a/21441074
Posted by Josh Crozier
Retrieved 2026-02-25, License - CC BY-SA 3.0
*/

html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #0a0a0a;
    color: #cccccc;
    font-size: 1.5rem;
}

main {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-padding: 0;
    height: 100%;
    width: 100%;
    margin: 1rem;
    
}

section {
    scroll-snap-align: center;
}

section span {
    color: white;
}

/* each section generic */
section {
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* margin-top: -3.5rem; */
}

section div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section div button {
    max-width: fit-content;
}

section header {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;
}

section header h2 {
    margin: 2rem 0.75rem 2rem 0;
}

section div {
    padding: 1rem;
}

section header span {
    margin-left: 0.5rem
}



h1,
h2,
h3 {
    font-weight: bold;
    color: #ffffff;
}

h2 span {
    color: #f48fb1;
}

/* Navigation Menu */
nav {
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 3px solid white;
    background-color: #0a0a0a;
    height: 3.5rem;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    height: 100%;
    width: 100%;
}



/* style navigation menu { */
nav a {
    font-size: 1.8rem;
    color: #f48fb1;
}

nav a:hover {
    cursor: pointer;
    text-decoration: none;

}

nav li {
    flex: 1;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    display: inline-block;
}

nav li:first-of-type {
    border-right: 1px solid white;
    border-left: none;
}

nav li:last-of-type {
    border-right: none;
    border-left: 1px solid white;
}

/* End of Nav style } */


/* landing page */
#landing {
    justify-content: center;
}

#landing h1 {
    font-size: 3.5rem;
    margin: 0;
}

#landing h3 {
    font-size: 2rem;
    font-weight: normal;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
}

#landing button {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #ff85a2de;
    border: 0.1rem solid #f44e85;
}

#landing button:hover {
    cursor: pointer;
    background-color: #f48fb1;
    box-shadow: 0 0 1rem #f48fb1;
}

/* Skills section */
.all-skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

#skills h2 {
    margin: 0;
}

.all-skills-container {
    padding: 0;
}

#skills h3 {
    margin-bottom: 0;
    border-bottom: 2px solid #f48fb1;
    margin-left: auto;
    margin-right: auto;
}

.skills-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    /* max-height: 29rem; */
    border-radius: 1rem;
    border: 2px solid #f48fb1;
    padding-top: 0;
    padding-bottom: 0;
}

/* .skills-card:first-of-type {
    margin-left: 1.25rem;

} */

.skills-container:first-of-type {
    margin-left: 12rem;
}

.skills-container:last-of-type {
    margin-right: 2rem;
}

.skills-card {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 1rem;
    border-radius: 0.6rem;
    padding: 0rem 0.6rem 0rem 0.1rem;
    font-size: 1.1rem;
    margin: 0;
}

.skills-card img {
    width: 1.5rem;
}

