body {
    padding: 1rem;
    background-color: #0a0a0a;
    color: #cccccc;
    font-size: 1.5rem;
    width: 100vw;
    height: 100vh;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;

}

section {
    scroll-snap-align: start;
}

section span {
    color: white;
}

h1,
h2,
h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

/* Navigation Menu */
nav {
    position: sticky;
    inset: 0;
    border-bottom: 3px solid white;
    background-color: #0a0a0a;
    height: 6vh;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
}



/* style navigation menu */
nav a {
    font-size: 1.8rem;
    color: #ff2d78;
}

nav a:hover {
    cursor: pointer;
    text-decoration: none;

}

nav li {
    flex: 1;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
}

nav li:first-of-type {
    border-right: 1px solid white;
    border-left: none;
}

nav li:last-of-type {
    border-right: none;
    border-left: 1px solid white;
}

/* each section generic */
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section div button {
    max-width: fit-content;
}

section header {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;
}

section header h2 {
    margin: 2rem 0.75rem 2rem 0;
}

section div {
    padding: 1rem;
}

section header span {
    margin-left: 0.5rem
}


/* Skills section */

.skills-container>h3 {
    margin-bottom: 1rem;
}

.skills-card {
    margin-left: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
    height: 6rem;
    border: 2px solid rgb(140, 56, 182);
    padding-right: 5px;
    font-size: 1.1em;
}

.skills-card img {
    width: 100%;
    height: 100%;
}