body {
    background-color: black;
    color: plum;
}

section span {
    color: white;
}

section header {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.9rem;
}

section header span {
    margin-left: 0.5rem
}

/* Navigation Menu */
nav {
    position: sticky;
    inset: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    font-size: 1.5rem
}